#body{
	background-color: #89CE12;
	color: #fff;
}

.title{
	font-size: 800%;
	font-family: "VT323", monotype, "courier new", arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.instructions{
	font-size: 300%;
	font-family: "Times New Roman", Georgia, Arial, Serif;
	text-align: center;
}

.logo{
	text-align: center;
}


.game{
	font-size: 200%;
	color: #fff;
	text-align: center;
}

.container{
	color: #000;
	text-align: center;
}