#body{
	background-color: #89CE12;
	color: #fff;
}

.title{
	font-size: 600%;
	font-family: "VT323", monotype, "courier new", arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.logo{
	text-align: center;
}

.game{
	font-size: 150%;
	color: #fff;
	text-align: center;
}

.container{
	color: #000;
	text-align: center;
}

.hint-box{
	border: #fff solid 3px;
	width: 30%;
	height: 200px;
	margin-left: 35%;
}

.content{
	font-family: "VT323", monotype, "courier new", arial, sans-serif;
	font-size: 150%;
	text-transform: uppercase;
	text-align: center;
}

